html {
    margin: 0%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
}

header {
    margin-left: 50%;
    margin-top: 2%;
}   

nav {
    text-align: center;
    margin: 2rem;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    padding: 0 1.5rem;
}

nav a {
    color: #999999;
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
}

nav a:hover {
    font-weight: bold;
    color: #707070;
}

.link-contact:hover {
    font-weight: bold;
    color: #f5f5f5;
}

.link-contact {
    border: 3px solid #707070;
    border-radius: 3px;
    padding: 10px;
    background-color: #707070;
    color: #f5f5f5;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.image {
    margin:  0 15%;
}

.presentation {
    margin: 21% 0;
    width: 80%;
    font-size: 1rem;
}

.about {
    background-color: #000;
}


